
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">WEBTECH Komandna Tabla</div>
        <div class="list-group list-group-flush my-2">
            @Html.ActionLink("Generalno", "Index", "Admin", null, new { @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Profil i privatnost", "IzmeniProfil", "Admin", null, new { @class = "list-group-item list-group-item-action bg-light" })
            <a href="#" class="list-group-item list-group-item-action bg-light">Objave</a>
            @Html.ActionLink("Nalozi", "Nalozi", "Admin", null, new { @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Uloge", "Uloge", "Admin", null, new { @class = "list-group-item list-group-item-action bg-light" })
            @*@Html.ActionLink("Sigurnost", "Uloge", null, new { @class = "list-group-item list-group-item-action bg-light" })*@
            <a href="/Admin/Sigurnost" class="list-group-item list-group-item-action bg-light">Sigurnost</a>

            @if (User.IsInRole("Autor") || User.IsInRole("Moderator") || User.IsInRole("Administrator"))
            {
                <a href="/Admin/Objavi" class="list-group-item list-group-item-action bg-light font-weight-bold">Postavi objavu</a>
            }



        </div>


        <div>
            <div class="container py-5">
                <div class="py-5">
                    <span class="bg-light text-center my-3">@User.Identity.Name</span>
                    <span>@Html.ActionLink("Odjava", "LogOff", "Account", null, new { @class = "btn btn-primary border-round w-100" })</span>
                </div>
            </div>
        </div>
    </div>
}
