
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">WEBTECH Komandna Tabla</div>
        <div class="list-group list-group-flush my-2">
            @Html.ActionLink("Generalno", "Index", new { userId = User.Identity.GetUserId() }, new { @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Profil", "IzmeniProfil", new { userId = User.Identity.GetUserId() }, new { @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Objave", null, new { username = User.Identity.Name }, new { @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Nalozi", "Nalozi", null, new { @class = "list-group-item list-group-item-action bg-light" })
            @Html.ActionLink("Uloge", "Uloge", null, new { @class = "list-group-item list-group-item-action bg-light" })

            @if (User.IsInRole("Autor") || User.IsInRole("Moderator") || User.IsInRole("Administrator"))
            {
                <a href="/Admin/Objavi" class="list-group-item list-group-item-action bg-light font-weight-bold">Postavi objavu</a>
            }

        </div>


        <div>
            <div class="container py-5">
                <div class="py-5">
                    <span class="bg-light text-center my-3">@User.Identity.Name</span>
                    <span>@Html.ActionLink("Odjava", "LogOff", "Account", null, new { @class = "btn btn-primary border-round w-100" })</span>
                </div>
            </div>
        </div>
    </div>
}
