
@model Users.Models.AddPasswordViewModel

@{
    ViewBag.Title = "Dodaj lozinku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="d-flex justify-content-start">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title my-auto">Dodajte lozinku</h5>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger my-auto" })
                    <form action="/Account/AddPassword" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control border-round" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control border-round" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary border-round">Dodaj lozinku</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/Admin/IzmeniProfil">Nazad na profil</a>
                </div>
            </div>
        </div>
    </div>
</div>