@model Users.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prijava</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome/css/all.css" rel="stylesheet" type="text/css">
    <link href="~/Content/mojCSS/global.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#01b018">
        <i class="fab fa-hackerrank f-awesome"></i>
        <a class="navbar-brand ml-4 mr-auto" href="#">WEBTECH</a>
    </nav>


    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title my-auto">Prijava</h4>
                        </div>
                        @Html.ValidationSummary("", new { @class = "text-danger my-3" })

                        <div class="card-body">

                            @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="username">Korisnicko Ime</label>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control border-round", @id = "username" })
                                </div>

                                <div class="form-group">
                                    <label for="password">Lozinka</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control border-round", @type = "password", @id = "password" })
                                </div>

                                <div class="form-check d-flex justify-content-between">
                                    <div>
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input", @id = "rememberMe" })
                                        <label for="rememberMe" class="form-check-label">Zapamti me?</label>
                                    </div>
                                    <a href="/Account/ForgotPassword" class="text-sm">Zaboravili ste lozinku?</a>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary border-round w-100 mt-2">Prijavite se</button>
                                </div>
                            }
                            <div class="card-footer">
                                <p class="card-text">Nemate nalog? <a href="/Account/Register">registrujte se</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
