
@model Users.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Resetujte lozinku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row py-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title my-auto">Resetujte lozinku</h5>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary("", new { @class = "text-danger my-auto" })
                    <form action="/Account/ResetPassword" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Code)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success shadow">Resetuj lozinku</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="/" class="my-auto">Početna</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>



<script>
    $(document).ready(() => {
        $("#footer").html("");
    })
</script>